:root.theme-dark {
  --background-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
  --subtitle-background-color: #ff0070;
  --color-subtitle: #000028;
  --color-no-focus: #db00ff;
  --color-decorated-zone: #ff0070;
  --color-text: #f1b2ce;
  --color-title: #ff0070;
  --rec: #ff0070;
  --border-button: #ff007066;
}
