:root.theme-light {
  --background-image: url(../images/cover-image-light.png);
  --background-color: #fff1f7;
  --subtitle-background-color: #ff8dcb;
  --color-subtitle: #353430;
  --color-no-focus: #ffc2e6;
  --color-decorated-zone: #353430;
  --color-text: #353430;
  --color-title: #353430;
  --rec: #00000000;
  --border-button: #32312d66;
  
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../images/cover-image-light.png);
    --background-color: #fff1f7;
    --subtitle-background-color: #ff8dcb;
    --color-subtitle: #353430;
    --color-no-focus: #ffc2e6;
    --color-decorated-zone: #353430;
    --color-text: #353430;
    --color-title: #353430;
    --rec: #00000000;
    --border-button: #32312d66;
  }
}
