.page {
  background-color: var(--main-bg-color);
  font-family: var(--main-font, "IBM Plex Mono"), monospace;
  font-size: var(--main-text-size, 18px);
  line-height: var(--main-line-height, 23.4px);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  padding: 10px;
  background-position: bottom;
  justify-items: end;
  min-block-size: 668px;
  height: 100vh;
  box-sizing: border-box;
  margin-bottom: 40px;
  background-image: var(--main-bg-image);
  background-size: cover;

  @media (width >= 768px) {
    margin-bottom: 60px;
    padding: 20px;
  }
}

.header__decorative-rec {
  display: var(--rec-display); /*переменная для управления видимостью*/
  justify-self: end;
  top: 10px;
  right: 20px;
  position: absolute;
  color: var(--accent-color);
  font-family: var(--main-font, "IBM Plex Mono"), monospace;
  line-height: 25px;
  font-size: var(--main-text-size);
  font-weight: var(--article-font-weight);
  text-transform: uppercase;

  @media (width >= 768px) {
    top: 20px;
    right: 30px;
  }
}

.header__decorative-rec::after {
  content: "";
  display: var(--rec-display);
  width: 13px;
  height: 13px;
  background-color: var(--accent-color);
  border-radius: 50%;
  margin-left: 6px;
  filter: blur(2px); /*размытие для эффекта свечения*/
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before, /*псевдоэлементы для создания уголков*/ 
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  border-top: 1px solid var(--main-heading-color);
  border-right: 1px solid var(--main-heading-color);
  top: 10px;
  right: 10px;

  @media (width >= 768px) {
    top: 20px;
    right: 20px;
  }
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--main-heading-color);
  border-left: 1px solid var(--main-heading-color);

  @media (width >= 768px) {
    bottom: 20px;
    left: 20px;
  }
}

.header__title {
  font-weight: var(--main-font-weight, 700);
  text-shadow: 4px 4px 0 var(--accent-color); /*тень для эффекта обводки*/
  font-size: var(--header-title-size);
  line-height: 83%;
  color: var(--header-title-color);

  @media (width >= 768px) {
    /*адаптация для десктопов*/
    line-height: 0.82;
    display: grid;
    justify-self: start;
    margin-left: -20px;
  }
}

.header__title-container {
  @media (width >= 768px) {
    width: 50%;
  }
}

.header__subtitle {
  margin: 0;
  padding: 0;
  font-weight: var(--main-font-weight);
  line-height: var(--main-line-height);

  @media (width >= 768px) {
    width: 100%;
    max-width: 364px;
  }

  @media (width >= 1024px) {
    width: 100%;
    max-width: 491px;
  }
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--main-text-color);
  font-size: var(--content-text-size, 18px);
}

.header__theme-menu {
  @media (width >= 1024px) {
    /*для десктопов меняем позиционирование*/
    position: static;
    transform: none;
    justify-self: center;
    align-self: start;
  }
}

.header__theme-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 13px;
  display: flex;
  flex-direction: column; /*вертикальное расположение на мобильных*/
  justify-items: end;
  align-items: center;

  @media (width >= 1024px) {
    /*горизонтальное расположение на десктопах*/
    flex-direction: row;
  }
}

.header__theme-menu-button {
  display: inline-flex;
  border: 1px solid transparent;
  background: transparent;
  outline: none;
  padding: 0px 13px;
  color: var(--menu-text-color);
  justify-content: center;
  cursor: pointer;
  font-family: var(--main-font, "IBM Plex Mono"), monospace;
  font-size: var(--text-size);
  font-weight: var(--article-font-weight);
  text-align: center;
  text-transform: lowercase;
  text-decoration: none;
}

.header__theme-menu-button:hover {
  border-color: var(--menu-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom-color: var(--menu-text-color);
}

.header__theme-menu-button:active {
  border-color: var(--main-heading-color);
}

.header__theme-menu-button_active {
  border-color: var(--menu-text-color);
}

.content-section {
  font-size: var(--main-text-size, 18px);
  font-style: normal;
  line-height: var(--main-line-height), 23.4px;

  @media (width >= 768px) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }

  @media (width >= 1024px) {
    grid-template-columns: repeat(3, 1fr); /*на десктопах - 3 колонки*/
  }
}

.text-blocks {
  display: grid;
  gap: 20px;

  @media (width >= 1024px) {
    grid-column: span 2;
  }
}

.text-block {
  display: grid;
}

.content-section_title {
  color: var(--main-heading-color);
  margin-bottom: 20px;
  font-weight: var(--main-font-weight, 700);
  font-size: var(--main-text-size, 18px);
}

.content-section_title.causes {
  @media (width >= 768px) {
    width: 100%;
    max-width: 227px;
  }

  @media (width >= 1024px) {
    max-width: 315px;
    width: 100%;
  }
}

.text-block_title,
.text-block-subtitle {
  background-color: var(--accent-color);
  color: var(--main-text-color);
  margin-bottom: 10px;
  font-weight: var(--main-font-weight, 700);
  font-size: var(--main-text-size, 18px);
}

.text-block_title {
  font-weight: var(--main-font-weight, 700);
}
.text-block-subtitle {
  font-weight: var(--article-font-weight, 400);
  margin-top: 20px;
}

.text-block-subtitle:first-of-type {
  margin-top: 10px;
}

.text-article {
  color: var(--article-text-color);
}

.content {
  display: grid;
  gap: 50px;
  padding: 0px 10px;
  margin-bottom: 40px;

  @media (width >= 768px) {
    padding: 0px 20px;
    margin-bottom: 45px;
    gap: 80px;
  }
}

.causes {
  .content-section_title {
    grid-column: 1 / -1; /*занимает все колонки*/
  }
  .text-blocks {
    grid-column: 1 / -1;
    /*на десктопах - 3 колонки*/
    @media (width >= 1024px) {
      grid-template-columns: repeat(3, 1fr);
      align-items: start;
    }
  }
}

.text-link {
  color: var(--article-text-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
  transition: all 0.3s ease;
  position: relative;
  border-bottom: 1px solid transparent;
}

.text-link:hover {
  border-bottom: 1px solid var(--text-link-hover);
}

.text-link:focus {
  outline: none;
}

.text-link:focus-visible {
  border: 1px solid var(--article-text-color);
}

/*явное указание для авторежима*/
@media (prefers-color-scheme: light) {
  .text-link:hover {
    border-bottom-color: var(--text-link-hover);
  }
}

/*для темной темы в авторежиме*/
@media (prefers-color-scheme: dark) {
  .text-link:hover {
    border-bottom-color: var(--text-link-hover);
  }
}

.gallery {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;

  @media (width >= 768px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row;
    gap: var(--gallery-gap);
    padding: 10px 0;

    .sunset {
      grid-column: span 2;
      grid-row: 1;
    }

    .ice-cream {
      grid-row: span 2;
    }

    .music {
      grid-row: span 2;
    }

    .street {
      grid-column: span 2;
    }
  }
}

.gallery__title {
  color: var(--accent-color);
  font-size: var(--content-text-size);
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.gallery__item {
  box-sizing: border-box;
  min-block-size: 4.3em;
  margin: 0;
}

.footer {
  position: relative;
  display: grid;
  place-items: center;
  min-block-size: 668px;
  height: 100vh; /*на всю высоту экрана*/

  @media (width >= 768px) {
    margin-top: 40px;
  }
  @media (width >= 1024px) {
    margin-top: 40px;
  }
}

.footer__title {
  font-size: var(--header-title-size);
  line-height: 82.5%;
  font-style: normal;
  text-shadow: 2px 2px 0 var(--accent-color);
  color: var(--footer-title-color);

  @media (width >= 768px) {
    line-height: 0.82;
  }
}

.header__subtitle {
  margin: 0;
  padding: 0;
}

.header__subtitle p {
  margin: 0;
  display: block;
}

@media (width >= 768px) {
  .header__subtitle {
    width: 100%;
    max-width: 364px;
  }
}

@media (width >= 1024px) {
  .header__subtitle {
    width: 100%;
    max-width: 491px;
  }
}

.header__subtitle-line {
  margin: 0;
  display: block;
  line-height: 1.3;
}

.header__subtitle-line + .header__subtitle-line {
  margin-top: 10px; /*расстояние между строками*/
}

@media (width >= 768px) {
  .header__subtitle {
    width: 100%;
    max-width: 364px;
  }
}

@media (width >= 1024px) {
  .header__subtitle {
    max-width: 491px;
  }
}
