.page {
  display: flex;
  flex-direction: column;
  gap: 26px;
  overflow: auto;
  background-image: var(--background-image);
  background-color: var(--background-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; /*фиксирует фон при скролле*/
  z-index: -1;
}

.padding {
  padding: var(--padding);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: var(--padding);
  right: var(--padding);
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--color-decorated-zone);
  border-right: 1px solid var(--color-decorated-zone);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: var(--padding);
  left: var(--padding);
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--color-decorated-zone);
  border-left: 1px solid var(--color-decorated-zone);
}

.header {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  min-block-size: 668px;
  block-size: 100vh;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__rec::before {
  content: "REC";
  position: absolute;
  top: var(--padding);
  right: calc(28px + var(--padding)); /*динамическое позиционирование*/
  box-sizing: border-box;
  color: var(--rec);
  line-height: 25px;
}

.header__rec::after {
  content: "";
  position: absolute;
  top: calc(var(--padding) + 8px);
  right: calc(var(--padding) + 9px);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--rec);
  background: var(--rec);
}

.header__theme-menu-button {
  border: none;
  padding: 0px 13px;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--border-button);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1.5px solid var(--color-decorated-zone);
}

.header__theme-menu-button:focus {
  outline: none;
  text-decoration: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--color-decorated-zone);
  pointer-events: none;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding-left: 23px;
}

.header__theme-menu-item {
  color: var(--color-decorated-zone);
}

.header__title {
  color: var(--color-no-focus);
  font-weight: 700;
  font-size: clamp(
    7.25rem,
    7.0115rem + 1.0178vw,
    7.5rem
  ); /*плавное иззменение размера*/
  line-height: 82.5%;
  text-shadow: 4px 4px 0px var(--subtitle-background-color);
}

.header__text {
  max-width: 364px;
  color: var(--color-subtitle);
  font-weight: 700;
  line-height: 23.4px;
}

.title-decor {
  background-color: var(--subtitle-background-color);
}

.main {
  display: grid;
  gap: 50px;
}

.main__section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  align-items: start;
}

.main__section-title {
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  color: var(--color-title);
  line-height: 23.4px;
}

.main__section-article {
  font-family: "IBM Plex Mono", sans-serif;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  gap: 20px;
}

.section-text {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  padding-top: 10px;
  color: var(--color-text);
  line-height: 23.4px;
}

.section-link {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--subtitle-background-color);
}

.section-link:hover {
  border-bottom: 1.5px solid var(--color-text);
}

.section-link:focus {
  outline: none;
  text-decoration: none;
}

.section-link:focus-visible {
  outline: 1px solid var(--color-text);
}

.section-article__title {
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-style: normal;
  color: var(--color-subtitle);
  font-weight: 700;
  line-height: 23.4px;
}

.repeat-title {
  margin-bottom: 20px;
}

.section-article__topic {
  color: var(--color-subtitle);
  font-weight: 400;
  line-height: 23.4px;
}

.pictures {
  display: grid;
  gap: 11px;
}

.gallery {
  display: grid;
  gap: 11px;
  grid-template-columns: 1fr;
}

.gallery__item {
  box-sizing: border-box;
  min-block-size: 4.3em;
  margin: 0;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.text-block_title {
  background-color: var(--subtitle-background-color);
  color: var(--color-subtitle);
  font-family: "IBM Plex Mono", sans-serif; /* Добавляем явное указание шрифта */
  font-weight: 700;
  font-size: 18px; /* Явно указываем размер шрифта */
  font-style: normal;
  line-height: 23.4px;
}

.footer {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  position: relative;
  display: grid;
  align-items: center;
  min-block-size: 668px;
  block-size: 100vh;
}

.footer__title {
  color: var(--color-no-focus);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-align: center;
  text-shadow: 2px 2px 0px var(--subtitle-background-color);
}

@media (width >= 768px) {
  .page {
    gap: 40px;
  }

  header.padding {
    padding-left: 0;
  }

  .header-title {
    justify-items: start;
  }

  .header__text {
    justify-self: end;
  }

  .main {
    gap: 80px;
  }

  .main__section {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .main__section-article-block {
    grid-template-areas: "title title title";
    grid-column: 2/4;
    padding-left: 5px;
  }

  .main__section-what {
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content 1fr;
  }

  .section-what {
    grid-column: 1/4;
    grid-row: 2;
  }

  .title-what {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1;
    grid-row: 1;
  }

  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .pictures {
  gap: 20px;
}

  .sunset {
    grid-column: span 2;
    grid-row: 1;
  }

  .ice-cream {
    grid-row: span 2;
  }

  .music {
    grid-row: span 2;
  }

  .street {
    grid-column: span 2;
  }
}

@media (width >= 1024px) {
  .header__text {
    max-width: 491px;
  }

  .header-section {
    justify-self: center;
    align-self: flex-start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .main__section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .main__section-article {
    padding-left: 0;
    grid-column: 2/4;
  }

  .section-what {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1/4;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
