/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --background-color: #000028;
  --subtitle-background-color: #ff0070;
  --color-subtitle: #000028;
  --color-no-focus: #db00ff;
  --color-decorated-zone: #ff0070;
  --color-text: #f1b2ce;
  --color-title: #ff0070;
  --rec: #ff0070;
  --border-button: #ff007066;
  --background-image: url(../images/cover-image-dark.png);
  --padding: 10px;
}


@media (width >= 768px) {
  :root {
    --padding: 20px;
  }
}
